<h1>Editing bancodado</h1>

<%= render "form", bancodado: @bancodado %>

<br>

<div>
  <%= link_to "Show this bancodado", @bancodado %> |
  <%= link_to "Back to bancodados", bancodados_path %>
</div>
